.Ab{
   background-color: rgb(202, 212, 216);
   width: 100%;
   height: 100vh;
   display: flex;
   overflow-y: hidden;
}
.Ab-left{
   flex: 1;
   /* border: 1px solid black; */
   height: 100vh;
   position: relative;
}
.Ab-right{
   flex: 1.21;
   height:100vh;
   /* border: 1px solid black; */
}
.Ab-bg{
    position:absolute;
    height: 100vh;
   width: 100%;
  -webkit-clip-path: ellipse(36% 40% at 50% 50%);
   clip-path: ellipse(36% 40% at 50% 50%);
   background-color: rgb(8, 135, 194);
}
.Ab-right{
    padding: 2rem 2rem 2rem 2rem;
}
.Ab-tittle{
    display: flex;
    font-size: 2rem;
    justify-content: center;
}
.Ab-Line{
   border-top: 0.4rem solid rgb(8, 135, 194);
   border-radius: 20%;
}
.des-Cont{
    /* border: 1px solid black; */
    padding: 2rem 1.4rem 0rem 0.8rem;
    font-size: 0.8rem;
    overflow-y: hidden;
}
.des-Cont1{
    padding: 0rem 0.8rem 0rem 0.8rem;
    font-size: 0.8rem;
}