.intro{
    display:flex;
    height:100vh;
}

.intro-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 212, 216);
    /* border: 1px solid black; */
}

.intro-right{
    flex:1.25;
    position: relative;
    background-color: rgb(202, 212, 216);
    /* border: 1px solid black; */
}

.intro-left-description{
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.intro-sentence{
    font-size: 25px;
}

.my-name{
    font-size: 40px;
    font-weight: 80%;
    color: rgb(8, 135, 194);
}

.intro-phrase{
  padding-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.intro-tittle{
    height: 40px;
    overflow:hidden;
}

.tittle-item{
    height: 40px;
    /* color:rgb(6, 209, 245); */
    color: rgb(50, 139, 180);
    font-weight: bold;
    display:flex;
    align-items: center;
}

.intro-tittle-wrapper{
   height: 100%;
   animation: move 6s ease-in-out infinite alternate;
}

@keyframes move{
    50%{
       transform: translateY(-40px);
    }
    100%{
       transform: translateY(-80px);
    }
}

.intro-bg{
    /* position: absolute; */
    /* top:0; */
    height: 100%;
    width: 100%;
    /* z-index: 1; */
    clip-path: polygon(29% 0, 100% 0%, 100% 49%, 100% 100%, 75% 100%, 7% 100%, 0 56%);
    background-color: rgb(8, 135, 194);
}
